In [52]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import tree
from sklearn.metrics import recall_score

In [53]:
breast_cancer = load_breast_cancer()

In [54]:
X = pd.DataFrame(breast_cancer.data)
X.shape

(569, 30)

In [55]:
Y = pd.DataFrame(breast_cancer.target)
Y.shape

(569, 1)

In [56]:
X_new, X_test, Y_new, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 101)
print(X_new.shape,X_test.shape,Y_new.shape,Y_test.shape)

(512, 30) (57, 30) (512, 1) (57, 1)

In [57]:
test_size = X_test.shape[0] / X_new.shape[0]
test_size

0.111328125

In [58]:
X_train, X_dev, Y_train, Y_dev = train_test_split(X_new, Y_new,test_size = test_size,random_state = 101)
print(X_train.shape,X_dev.shape,Y_train.shape,Y_dev.shape)

(455, 30) (57, 30) (455, 1) (57, 1)

Create a train/dev set that combines data from both the training and validation sets:

In [59]:
np.random.seed(101)

In [60]:
indices_train = np.random.randint(0, len(X_train), 25)
indices_train

array([351,  11, 337, 326,  63,  87,  75, 393,  40, 132,  63, 424, 245,
       316, 220, 192, 110,   5, 396,  40,  49, 339, 111, 136, 371])

In [61]:
indices_dev = np.random.randint(0, len(X_dev), 25)
indices_dev

array([29, 51, 34, 44,  8, 19, 10, 12, 31, 43, 23,  0, 41, 55,  9, 47,  8,
       36, 19, 35, 28,  7, 10, 52, 56])

In [62]:
X_train_dev = pd.concat([X_train.iloc[indices_train,:],X_dev.iloc[indices_dev,:]])
X_train_dev.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
297,11.76,18.14,75.00,431.1,0.09968,0.05914,0.02685,0.03515,0.1619,0.06287,...,13.36,23.39,85.10,553.6,0.11370,0.07974,0.0612,0.0716,0.1978,0.06915
366,20.20,26.83,133.70,1234.0,0.09905,0.16690,0.16410,0.12650,0.1875,0.06020,...,24.19,33.81,160.00,1671.0,0.12780,0.34160,0.3703,0.2152,0.3271,0.07632
292,12.95,16.02,83.14,513.7,0.10050,0.07943,0.06155,0.03370,0.1730,0.06470,...,13.74,19.93,88.81,585.4,0.14830,0.20680,0.2241,0.1056,0.3380,0.09584
298,14.26,18.17,91.22,633.1,0.06576,0.05220,0.02475,0.01374,0.1635,0.05586,...,16.22,25.26,105.80,819.7,0.09445,0.21670,0.1565,0.0753,0.2636,0.07676
558,14.59,22.68,96.39,657.1,0.08473,0.13300,0.10290,0.03736,0.1454,0.06147,...,15.48,27.27,105.90,733.5,0.10260,0.31710,0.3662,0.1105,0.2258,0.08004

In [63]:
Y_train_dev = pd.concat([Y_train.iloc[indices_train,:],Y_dev.iloc[indices_dev,:]])
Y_train_dev.head()

     0
297  0
366  0
292  1
298  1
558  1

In [64]:
print(X_train_dev.shape, Y_train_dev.shape)

(50, 30) (50, 1)

In [65]:
model = tree.DecisionTreeClassifier(random_state = 101)
model = model.fit(X_train, Y_train)

Use the predict method to generate the predictions for all of your sets (train, train/dev, dev, and test). Next, considering that the objective of the study is to maximize the model's ability to predict all malignant cases, calculate the recall scores for all predictions. Store all of the scores in a variable named scores:

In [66]:
sets = ["Training", "Train/dev", "Validation", "Testing"]

In [67]:
X_sets = [X_train, X_train_dev, X_dev, X_test]
Y_sets = [Y_train, Y_train_dev, Y_dev, Y_test]

In [68]:
scores = {}
for i in range(0, len(X_sets)):
    pred = model.predict(X_sets[i])
    score = recall_score(Y_sets[i], pred)
    scores[sets[i]] = score

In [69]:
print(scores)

{'Training': np.float64(1.0), 'Train/dev': np.float64(0.9705882352941176), 'Validation': np.float64(0.9333333333333333), 'Testing': np.float64(0.9714285714285714)}