In [73]:
from sklearn.datasets import load_digits
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [74]:
digits = load_digits()

In [75]:
X = pd.DataFrame(digits.data)
X.shape

(1797, 64)

In [76]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [77]:
Y = pd.DataFrame(digits.target)
Y.shape

(1797, 1)

In [78]:
Y.head()

   0
0  0
1  1
2  2
3  3
4  4

In [79]:
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

(1437, 64) (1437, 1) (360, 64) (360, 1)

In [80]:
model = tree.DecisionTreeClassifier(random_state = 0)
model = model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [81]:
confusion_matrix(Y_test, Y_pred)

array([[34,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 24,  0,  1,  0,  0,  1,  0,  1,  1],
       [ 0,  1, 33,  1,  1,  1,  0,  0,  1,  1],
       [ 0,  0,  0, 30,  2,  1,  0,  0,  1,  1],
       [ 1,  0,  0,  0, 24,  0,  0,  2,  2,  0],
       [ 0,  1,  0,  0,  2, 37,  0,  0,  1,  0],
       [ 1,  0,  0,  0,  2,  2, 34,  0,  0,  0],
       [ 0,  0,  0,  0,  2,  0,  0, 34,  3,  1],
       [ 4,  2,  3,  3,  0,  1,  0,  1, 21,  1],
       [ 0,  0,  1,  2,  1,  0,  1,  2,  1, 31]])

In [82]:
accuracy = accuracy_score(Y_test, Y_pred)
print("accuracy:", accuracy)

accuracy: 0.8388888888888889

In [83]:
# precision = precision_score(Y_test, Y_pred)
# print("precision:", precision)

In [84]:
# recall = recall_score(Y_test, Y_pred)
# print("recall:", recall)

To be able to calculate the precision and recall, use the following code to convert Y_test and Y_pred into a one-hot vector. A one-hot vector consists of a vector that only contains zeros and ones. For this activity, the 0 represents the number 6, while the 1 represents any other number. This converts the class labels (Y_test and Y_pred) into binary data, meaning that there are only two possible outcomes instead of 10 different ones.

Then, calculate the precision and recall using the new variables:

In [85]:
Y_test_2 = Y_test[:]

In [86]:
Y_test_2

      0
316   3
172   1
1643  5
1571  8
1491  8
...  ..
968   6
130   0
1143  2
494   7
553   9

[360 rows x 1 columns]

In [87]:
Y_test_2[Y_test_2 != 6] = 1
Y_test_2[Y_test_2 == 6] = 0
Y_test_2

      0
316   1
172   1
1643  1
1571  1
1491  1
...  ..
968   0
130   1
1143  1
494   1
553   1

[360 rows x 1 columns]

In [88]:
Y_pred_2 = Y_pred
Y_pred_2[Y_pred_2 != 6] = 1
Y_pred_2[Y_pred_2 == 6] = 0

In [89]:
precision = precision_score(Y_test_2, Y_pred_2)
print("precision:", precision)

precision: 0.9845679012345679

In [90]:
recall = recall_score(Y_test_2, Y_pred_2)
print("recall:", recall)

recall: 0.9937694704049844